.manter-os {
    position: relative;
    z-index: 0;

    .area-timeline {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 20px;
      height: 135px;

      .timeline {
        position: relative;
        width: 800px;
        height: 100%;
        display: flex;
        justify-content: space-between;

        --color-active: #069;

        &:before {
          background: #eee;
          height: 4px;
          position: absolute;
          bottom: 80px;
          left: 0;
          right: 0;
          content: '';
        }

        .start-point, .circle {
          position: relative;
          z-index: 10;
          bottom: -22px;
          height: 20px;
          width: 20px;
          background: #eee;
          border-radius: 50%;
        }

        .start-point {
          background: var(--color-active);
        }

        .final-point {
          background: var(--color-active);
          position: relative;

          &:before {
            position: absolute;
            top: 22px;
            content: '';
            border-left: 10px solid rgb(0, 102, 153, 1);
            border-right: 10px solid rgb(0, 102, 153, 0);
            border-top: 10px solid rgb(0, 102, 153, 0);
            border-bottom: 10px solid rgb(0, 102, 153, 0);
          }
        }

        .hit-area {
          cursor: pointer;
          pointer-events: none;

          .circle {
            > span {
              z-index: 10;
              position: absolute;
              top: 30px;
              transform: translateX(-36%);
              color: #ccc;

              &:hover {
                color: var(--color-active);
              }
            }
          }

          &.active {
            pointer-events: visible;

            .circle {
              background: var(--color-active);

              > span {
                color: #444;
              }

              &:before {
                position: absolute;
                content: '';
                width: 153px;
                left: -153px;
                height: 5px;
                bottom: 7px;
                z-index: 0;
                background: var(--color-active);
              }
            }
          }

          &.current {
            z-index: 30;

            .circle {
              span {
                color: var(--color-active);
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }